$background-bright: #C6CECD;
$background-bright-2: rgb(158, 161, 161);
$bright-gradient: linear-gradient(to bottom right, transparent 80%, $background-bright-2);

$background-middle: #59656F;

$background-dark: rgb(24, 25, 27);

$accent-color: rgb(5, 202, 163);
$accent-color-2: #00FFCB;
$accent-gradient: linear-gradient(to bottom right, $accent-color, $accent-color-2);

$info-color: #DDFCAD;
$info-color-2: rgb(147, 168, 114);
$info-gradient: linear-gradient(to bottom right, $info-color, $info-color-2);

$warning-color: rgb(182, 49, 5);
$warning-color-2: rgb(255, 38, 0);
$warning-gradient: linear-gradient(to bottom right, $warning-color, $warning-color-2);

$break-phone: 480px;
$break-tablet: 768px;
$break-desktop: 1176px;